{
  "presets": ["es2015", "react"],
  "compact": true,
  "env": {
    "development" : {
      "plugins": [
        "babel-plugin-transform-react-jsx-self",
        "babel-plugin-transform-react-jsx-source"
      ]
    }
  }
}
